@font-face {
    font-family: 'MinionProSemibold';
    src: url('./Fonts/MinionProSemibold/MinionProSemibold.ttf');
}

@font-face {
    font-family: 'MinionProRegular';
    src: url('./Fonts/MinionProRegular/MinionProRegular.tff');
}

@font-face {
    font-family: 'MinionProItalic';
    src: url('./Fonts/MinionProItalic/MinionProItalic.ttf');
}

.book {
    font-family: 'MinionProRegular' !Important;
    font-size: 15px;
    margin-top: 35px;
}

.gallery{
    font-family: 'MinionProRegular';
    font-size: 15px;
}

gallery >i { 
    font-style: normal !important; 
}

.logo {
    padding-top: 30px;
}

.Goneja {
    padding-top: 30px;
    margin-bottom: 10px;
}

.name {
    font-family: 'MinionProSemibold';
    font-size: 17px;
    margin-bottom: 50px;
}

.menu {
    color: #000000;
    text-decoration: none !important;
    font-family: 'MinionProRegular' !important;
    font-size: 19px;
    font-weight: 100;
    margin-top: 15px;
}

.booktitle {
    font-family: 'MinionProSemiBold';
    font-size: 15px;
    
}

.links {
    color: rgba(50, 83, 239, 0.80) !important;
    text-decoration: underline !important;
    font-weight: 600;
    font-family: 'MinionProRegular';
}

.people{
    font-family: 'MinionProItalic' !important;
}


.info {
    margin-top: 70px;
}

.menuu {
    margin-top: 70px;
}

.choices {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bouton {
    outline: none !important;
    box-shadow: none;
}

.bouton:focus {
    outline: none !important;
    box-shadow: none;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

a:hover {
    color: 000000 !important;
}

#test {
    padding: 2em 0;
    display: block;
    visibility: hidden;
    margin-top: 20px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.bookgallery {
    padding: 10px 200px 50px 200px;
}
.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}

		
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}

			
	100% {
		-webkit-transform: translateY(-0%);
	}	
}